#engword{
    font-style: italic;
}

#chineseword{
    color: green;
    margin:0;
}

#pinword{
    color: blue;
    
}

nav{
    position: fixed;
  top: 0;
  width: 100%;
    z-index:99;
}

btn{
    width:50%;
    
}